
<div class="wrapper">
    <h2>HELLO, {{playerName | uppercase }}!</h2>
    <p id="game-status">{{gameStatus}} </p>

    <div class="float">
        <p>SCORE: {{points}}</p>
        <p>TIME: {{time}} s</p>
    </div>

    <div class="float">
        <ngx-snake #game
        (foodEaten)="pointsCounter()"
        (gameOver)="gameOver()"
        ></ngx-snake>
    </div>

    <div class="float buttons-section">
        <button (click)="game.actionStart(); startAndCountdown()" [disabled]="!enabledButtons">Start</button>
        <button (click)="game.actionStop(); stopGameAndTimer()" [disabled]="!enabledButtons">Stop</button>
        <button (click)="game.actionReset(); resetGameAndTimer()">Reset</button>
        <br>
        <button (click)="game.actionUp(); addUpAction()" [disabled]="!enabledButtons">Up</button>
        <button (click)="game.actionLeft(); addLeftAction()" [disabled]="!enabledButtons">Left</button>
        <button (click)="game.actionRight(); addRightAction()" [disabled]="!enabledButtons" >Right</button>
        <button (click)="game.actionDown(); addDownAction()" [disabled]="!enabledButtons" >Down</button>
    </div>

    <div class="float">
        <div class="history-view">
            <label>Sort: </label>
                <select [(ngModel)]="sortDirection">
                    <option value="asc">Lastes first</option>
                    <option value="desc">Oldest first</option>
                </select>   
    </div>
    
    <div class="history-view">       
        <label >Filter by action: </label>
            <select [(ngModel)]="filterValue">
                <option *ngFor="let action of actionsOptions"
                    [value]="action">{{action}}
                </option>
            </select>
    </div>

    <div id="game-history">            
        <div>
            <table>
                <tr>
                    <th class="td-action">Action</th>
                    <th class="td-time">Time</th>
                </tr>    
                <tr *ngFor="let item of gameHistory | sort: sortDirection | filter: filterValue">
                    <td class="td-action">{{item.action}}</td>
                    <td class="td-time">{{item.time}} s</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    <button id="exit" (click)="goToIntroPage()">Exit</button>
</div>
