<div>
  <h1>Welcome to Snake Game!</h1>

  <form #userForm="ngForm"
    (submit)="submit(userForm, nameElement.value, emailElement.value)">

    <div>
      <input name="name"
          #nameElement
          #nameModel="ngModel"
          minlength="2"
          required
          pattern="^[a-zA-Z]+$"
          ngModel
          placeholder="Name"/>
      <p *ngIf="nameModel.touched && nameModel.invalid">Letters only, 2 characters minimum!</p>
    </div>

    <br/>

    <div>
      <input name="email"
          #emailElement
          #emailModel="ngModel"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          ngModel
          placeholder="E-mail"/>
      <p *ngIf="emailModel.touched && emailModel.invalid">Invalid e-mail format (ex. xyz@zyx.com)!</p>
    </div>

    <br/><br/>

    <button 
    [disabled]="userForm.valid === false">Start</button>
</form> 

</div>