form {
    font-family: 'Papyrus';
    text-align: center;
    input {
        font-family: 'Papyrus';
        width: 250px;
        margin: 0;
    }
    p {
        margin: 0;
        font-family: 'Papyrus';
        color: bisque;
        font-weight: bold;
       
    }
   
    button {
        font-family: 'Papyrus';
        width: 75px;
    }
}