/* You can add global styles to this file, and also import other style files */
body {
background-image: url("./assets/image/pixgreen.png");

}

ngx-snake.normal {
    ngx-snake-tile {
        background: darkgray;
        &.free {
            div {
                background: rgb(238, 233, 233);
            }
        }
    }
}

ngx-snake.black-and-white {
    ngx-snake-tile {
        background: white;
        &.free {
            div {
                background: white;
            }
        }
        &.head,
        &.tail,
        &.food,
        &.body {
            div {
                background: #000000;
            }
        }
    }
}