#highscore-history {
    width: 500px;
    height: 300px;
    overflow: scroll;
    background-color: rgb(238, 233, 233);
}

.td-name {
    width: 300px;
}

.td-score {
    width: 200px;
    text-align: center;
  
}